.topmast
{
    background: #434343;
    position: fixed;
    height: 110px;
    width: 100%;
    left: 0px;
    top: 0px;
    border-color: #565656;
    border-style: solid;
    border-width: 2px;
 
}
.logo
{
	padding: 10px 10px 10px 10px;
	
}
#topmast_uat
{
	left: 200px;
    top: 10px;
    width: 60px;
    height: 25px;
    position: absolute;
    text-align: center;
    -moz-border-radius:5px 5px 5px 5px;
	-webkit-border-top-right-radius:5px;
	-webkit-border-top-left-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	-webkit-border-bottom-left-radius:5px;
	border-top-right-radius:5px;
	border-top-left-radius:5px;
	border-bottom-right-radius:5px;
	border-bottom-left-radius:5px;
    
}

#topmast_prod
{
	left: 290px;
    top: 10px;
    width: 60px;
    height: 25px;
    position: absolute;
    text-align: center;
    -moz-border-radius:5px 5px 5px 5px;
	-webkit-border-top-right-radius:5px;
	-webkit-border-top-left-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	-webkit-border-bottom-left-radius:5px;
	border-top-right-radius:5px;
	border-top-left-radius:5px;
	border-bottom-right-radius:5px;
	border-bottom-left-radius:5px;
    
}

.checker
{	
	font-family: verdana;
	font-size: 15px;
	color: #CFCFCF;
	padding: 5px 10px 5px 10px;
	left: 380px;
	top: 15px;
	width: 100px;
	position: absolute;
}

#keyword
{
	color: #0000FF;
}

.resultItem
{
	background-color: #F8F8F8;
    -moz-border-radius:5px 5px 5px 5px;
	-webkit-border-top-right-radius:5px;
	-webkit-border-top-left-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	-webkit-border-bottom-left-radius:5px;
	border-top-right-radius:5px;
	border-top-left-radius:5px;
	border-bottom-right-radius:5px;
	border-bottom-left-radius:5px;
    border-color: #CCCCCC;
    border-style: solid;
    border-width: 2px;
    padding: 5px 5px 5px 5px;
}
	
input[type="submit"]
		{
			background-color: #3399EE;
			width: 100px;
			height: 40px;
			font-family: verdana;
			font-size: 20px;
			color: #FFFFFF;
			text-align: center;
			top: 20px;
			left: 510px;
			height: 40px;
            position: absolute;
            border-color: #848484;
		}
		input[type="submit"]:hover
		{
			color: #101010;
			
		}
		#body
		{
			font-family: verdana;
		}
		#td
		{
			font-family: verdana;
		}
		.sel
		{
			border-color: #FFBB00;
			border-style: solid;
			border-width: 2px;
			background-color: #800000;
		}
		.sidebar
		{
			position: fixed;
			left: 5px;
			top: 120px;
		}
		.sidebar_item
		{
			position: absolute;
			display: block;
			list-style: none;
			font-family: verdana;
			font-size: 15px;
			background-color: #FAFAFA;
			width: 100px;
			height: 25px;
			padding: 5px 10px 5px 10px;
			border-width: 2px;
			text-align: center;
			border-color: #AFAFAF;
			border-style: solid;
			margin: 2px;
			-moz-border-radius:10px 10px 10px 10px;
			-webkit-border-top-right-radius:10px;
			-webkit-border-top-left-radius:10px;
			-webkit-border-bottom-right-radius:10px;
			-webkit-border-bottom-left-radius:10px;
			border-top-right-radius:10px;
			border-top-left-radius:10px;
			border-bottom-right-radius:10px;
			border-bottom-left-radius:10px;
		}
		.sidebar_item:hover
		{
			border-color: #00BFFF;
			background: #D3D3D3;
		}
		.sidebar_item.select
		{
			background: #D3D3D3;
		}
		.topmast.select
		{
		  /*  background: #00BFFF; */
		    background: #3399EE;
			font-family: verdana;
			font-size: 22px;
			font-style: bold;
			padding: 5px 10px 5px 10px;
			color: #FFFFFF;
		}
		.topmast.select:hover
		{
			border-color: #00BBFF;
			border-width: 3px;
		}
		
		.topmast.deselect
		{
			background: #A9A9A9;
			font-family: verdana;
			font-size: 22px;
			font-style: bold;
			padding: 5px 10px 5px 10px;
			color: #FFFFFF;
		}
		.topmast.deselect:hover
		{
			border-color: #F6F6F6;
			border-width: 3px;
		}
		.codearea
		{
			position: absolute;
			left: 140px;
			top: 120px;
			width: 900px;
			display: none;
			font-family: courier new;
			font-size: 18px;
			z-index: -1;
		}
		


.sb_wrapper{
	margin:0;
	padding:0;
	position: absolute;
	top:40px;
	left:200px;
	height: 40px;
	
}
.sb_wrapper input[type="text"],
ul.sb_dropdown{
	border:1px solid #fff;
	background: #fafafa; 
	background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#fafafa)); 
	background: -moz-linear-gradient(top, #f2f2f2, #fafafa);
	font-size:24px;
	font-family:"Myriad Pro", "Trebuchet MS", sans-serif;
	-moz-box-shadow:1px 1px 3px #555;
	-webkit-box-shadow:1px 1px 3px #555;
	-box-shadow:1px 1px 3px #555;
	outline:none;
	padding:6px 5px 6px 20px;
	text-shadow:1px 1px 1px #fff;
	width:500px;
	float: left;
	margin:3px 0px;
}

ul.sb_dropdown{
	float:left;
	list-style:none;
	width:260px;
	padding:6px 5px;
	-moz-border-radius:0px 0px 10px 10px;
	-webkit-border-bottom-right-radius:10px;
	-webkit-border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	border-bottom-left-radius:10px;
}
ul.sb_dropdown li{
	font-size:16px;
	line-height:32px;
	height:32px;
	float:left;
	width:50%;
}
ul.sb_dropdown li input[type="checkbox"]{
	float:left;
	margin:10px 4px 0 5px;
}
ul.sb_dropdown li.sb_filter{
	width:250px;
	border:1px solid #f9f9f9;
	clear:both;
	background: #ddd;
	font-size:12px;
	letter-spacing:1px;
	color:#444;
	height:16px;
	line-height:16px;
	padding:5px;
	-moz-box-shadow:0px 0px 2px #777;
	-webkit-box-shadow:0px 0px 3px #555 inset;
	-box-shadow:0px 0px 3px #555 inset;

}
span.sb_sel_up,
span.sb_sel_down{
	position:absolute;
	top:20px;
	left:-25px;
	width:20px;
	height:40px;
	background-color:#f2f2f2;
	background-position:center center;
	background-repeat: no-repeat;
	z-index:10;
	border:1px solid #fff;
	-moz-box-shadow:1px 1px 3px #555;
	-webkit-box-shadow:1px 1px 3px #555;
	-box-shadow:1px 1px 3px #555;
	
}
span.sb_sel_up{
	background-image:url(../images/up.png);
}
span.sb_sel_down{
	background-image:url(../images/down.png);
}
input.sb_search{
	background:#f2f2f2 url(../images/search.png) no-repeat center center;
	height:43px;
	width:50px;
    float:left;
	border:none;
	margin:3px 0px;
	border:1px solid #fff;
	-moz-box-shadow:1px 1px 3px #555;
	-webkit-box-shadow:1px 1px 3px #555;
	-box-shadow:1px 1px 3px #555;
	outline:none;
	cursor:pointer;
}
input.sb_search:hover{
	background-color:#fff;
}	
