#topmast
{
    font-family: Times New Roman;
    font-size: 30px;
    text-align: center;
    border-color: #CCCCCC;
    border-style: solid;
    
  
}
#searchText
{
  width: 700px;
}
#searchResults
{
  background-color: #CCCCCC;
  width: 25%;
  height: 20px;
  text-align: center;
  border-color: #AAAAAA;
  border-style: solid;
}
